<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>129.18</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2007-09-05 16:33:59 +0200</string>
	<key>Creator</key>
	<string>Oscar Nierstrasz</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{457.709, 448}, {20.0146, 13.76}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>357</integer>
			<key>ImageID</key>
			<integer>54</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{43.265, 551.839}, {124, 96}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>169</integer>
			<key>ImageID</key>
			<integer>53</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2.4225, 473.419}, {431.96, 42}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>archive</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVy
					WCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNfEA9O
					U0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290
					gAGlCwwVGR5VJG51bGzUDQ4PEBESExRfEBJO
					U0N1c3RvbUNvbG9yU3BhY2VXTlNXaGl0ZVxO
					U0NvbG9yU3BhY2VWJGNsYXNzgAJCMQAQA4AE
					0hYQFxhUTlNJRBACgAPSGhscD1gkY2xhc3Nl
					c1okY2xhc3NuYW1log8dWE5TT2JqZWN00hob
					HyCiIB1XTlNDb2xvcggRGyQpMkRJTFFTWV9o
					fYWSmZueoKKnrK6wtb7JzNXa3QAAAAAAAAEB
					AAAAAAAAACEAAAAAAAAAAAAAAAAAAADl
					</data>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Optima-Bold</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>145</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.782609</string>
						<key>g</key>
						<string>0.398905</string>
						<key>r</key>
						<string>0.297107</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>5.7921171188354492</real>
					<key>ShadowVector</key>
					<string>{4, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\deftab720
\pard\pardeftab720\qc\pardirnatural

\f0\b\fs24 \cf2 traduit de l'anglais par\
Martial Boniou, Mathieu Chappuis, Luc Fabresse, Ren\'e9 Mages,\
Nicolas Petton, Alain Plantec, Serge Stinckwich et Beno\'eet Tuduri}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{492.003, 86.494}, {152, 77.5202}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>172</integer>
			<key>ImageID</key>
			<integer>44</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>331</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{649.741, 149}, {88, 77}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>173</integer>
			<key>ImageID</key>
			<integer>42</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>359</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{511.151, 224.99}, {195, 116}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>174</integer>
			<key>ImageID</key>
			<integer>37</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>8</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{542.161, 337.26}, {299, 116}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.494118</string>
					<key>g</key>
					<string>0.0862745</string>
					<key>r</key>
					<string>0.0470588</string>
				</dict>
				<key>Font</key>
				<string>Optima-Bold</string>
				<key>Size</key>
				<real>48</real>
			</dict>
			<key>ID</key>
			<integer>175</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs192 \cf2 Squeak}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{494.741, 564}, {431.96, 16}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>archive</key>
							<data>
							YnBsaXN0MDDUAQIDBAUG
							BwpZJGFyY2hpdmVyWCR2
							ZXJzaW9uVCR0b3BYJG9i
							amVjdHNfEA9OU0tleWVk
							QXJjaGl2ZXISAAGGoNEI
							CVRyb290gAGlCwwVGR5V
							JG51bGzUDQ4PEBESExRf
							EBJOU0N1c3RvbUNvbG9y
							U3BhY2VXTlNXaGl0ZVxO
							U0NvbG9yU3BhY2VWJGNs
							YXNzgAJCMQAQA4AE0hYQ
							FxhUTlNJRBACgAPSGhsc
							D1gkY2xhc3Nlc1okY2xh
							c3NuYW1log8dWE5TT2Jq
							ZWN00hobHyCiIB1XTlND
							b2xvcggRGyQpMkRJTFFT
							WV9ofYWSmZueoKKnrK6w
							tb7JzNXa3QAAAAAAAAEB
							AAAAAAAAACEAAAAAAAAA
							AAAAAAAAAADl
							</data>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Optima-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>177</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.782609</string>
								<key>g</key>
								<string>0.398905</string>
								<key>r</key>
								<string>0.297107</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Fuzziness</key>
							<real>5.7921171188354492</real>
							<key>ShadowVector</key>
							<string>{4, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\deftab720
\pard\pardeftab720\qc\pardirnatural

\f0\b\fs24 \cf2 Andrew P. Black, St\'e9phane Ducasse, Oscar Nierstrasz, Damien Pollet}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{652.251, 615.834}, {116.939, 13}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.494118</string>
							<key>g</key>
							<string>0.0862745</string>
							<key>r</key>
							<string>0.0431373</string>
						</dict>
						<key>Font</key>
						<string>Optima-Italic</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>178</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs20 \cf2 Version du 25 avril 2008}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{583.639, 584.35}, {254.164, 16}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.494118</string>
							<key>g</key>
							<string>0.0862745</string>
							<key>r</key>
							<string>0.0431373</string>
						</dict>
						<key>Font</key>
						<string>Optima-Italic</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>179</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.782609</string>
								<key>g</key>
								<string>0.398905</string>
								<key>r</key>
								<string>0.297107</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Fuzziness</key>
							<real>5.7921171188354492</real>
							<key>ShadowVector</key>
							<string>{4, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\deftab720
\pard\pardeftab720\qc\pardirnatural

\f0\i\fs24 \cf2 avec Damien Cassou et Marcus Denker}</string>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>176</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{633.741, 489.056}, {286, 58}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.494118</string>
					<key>g</key>
					<string>0.0862745</string>
					<key>r</key>
					<string>0.0470588</string>
				</dict>
				<key>Font</key>
				<string>Optima-Bold</string>
				<key>Size</key>
				<real>48</real>
			</dict>
			<key>ID</key>
			<integer>180</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red1\green21\blue126;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs96 \cf2 par l'exemple}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{594.221, -9.80437}, {353.52, 319.92}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>181</integer>
			<key>ImageID</key>
			<integer>46</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{448, 34.6667}, {40.4071, 52.2915}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>110</integer>
					<key>ImageID</key>
					<integer>30</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{376.066, 549.202}, {184.275, 13}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.494118</string>
							<key>g</key>
							<string>0.0862745</string>
							<key>r</key>
							<string>0.0431373</string>
						</dict>
						<key>Font</key>
						<string>Optima-Bold</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>111</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.782609</string>
								<key>g</key>
								<string>0.398905</string>
								<key>r</key>
								<string>0.297107</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Fuzziness</key>
							<real>5.7921171188354492</real>
							<key>ShadowVector</key>
							<string>{4, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\deftab720
\pard\pardeftab720\qc\pardirnatural

\f0\b\fs20 \cf2 Black\'a0\'95\'a0Ducasse\'a0\'95\'a0Nierstrasz\'a0\'95\'a0Pollet}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{283.929, 245.589}, {368.55, 44}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.494118</string>
							<key>g</key>
							<string>0.0862745</string>
							<key>r</key>
							<string>0.0470588</string>
						</dict>
						<key>Font</key>
						<string>Optima-Bold</string>
						<key>Size</key>
						<real>40</real>
					</dict>
					<key>ID</key>
					<integer>112</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red1\green21\blue126;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs72 \cf2 Squeak par l'exemple}</string>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>109</integer>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{275.107, 544.558}, {127.575, 52.2915}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>121</integer>
					<key>ImageID</key>
					<integer>35</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{277.895, 612.834}, {122, 13}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.494118</string>
							<key>g</key>
							<string>0.0862745</string>
							<key>r</key>
							<string>0.0431373</string>
						</dict>
						<key>Font</key>
						<string>Optima-Regular</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>122</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.782609</string>
								<key>g</key>
								<string>0.398905</string>
								<key>r</key>
								<string>0.297107</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Fuzziness</key>
							<real>5.7921171188354492</real>
							<key>ShadowVector</key>
							<string>{4, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\fswiss\fcharset0 Optima-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\deftab720
\pard\pardeftab720\qc\pardirnatural

\f0\fs20 \cf2 Square Bracket Associates}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>120</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{-11, 426.25}, {953.725, 254.15}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>13</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>DocumentShape</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.323386</string>
						<key>g</key>
						<string>0.849594</string>
						<key>r</key>
						<string>0.377709</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{43.265, 53}, {350.275, 368}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.494118</string>
					<key>g</key>
					<string>0.0862745</string>
					<key>r</key>
					<string>0.0431373</string>
				</dict>
				<key>Font</key>
				<string>Palatino-Roman</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>55</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.675074</string>
						<key>g</key>
						<string>0.982389</string>
						<key>r</key>
						<string>0.99559</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494118</string>
						<key>g</key>
						<string>0.0862745</string>
						<key>r</key>
						<string>0.0431373</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494118</string>
						<key>g</key>
						<string>0.0862745</string>
						<key>r</key>
						<string>0.0431373</string>
					</dict>
					<key>CornerRadius</key>
					<real>5</real>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf270
{\fonttbl\f0\froman\fcharset0 Palatino-Roman;\f1\fnil\fcharset0 LucidaSans;}
{\colortbl;\red255\green255\blue255;\red0\green21\blue126;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qj\pardirnatural

\f0\fs24 \cf2 Squeak est un environnement de d\'e9veloppement libre et moderne du langage de programmation Smalltalk-80. Bien qu'\'e9tant le premier langage de programmation purement orient\'e9 objet,  Smalltalk reste par de nombreux aspects en avance sur ses successeurs par sa vision d'un environnement o\'f9 
\i tout est objet
\i0 , et tout peut \'eatre modifi\'e9 \'e0 l'ex\'e9cution.\
\

\i Squeak par l'exemple
\i0 , est destin\'e9 aux \'e9tudiants et aux d\'e9veloppeurs, qui seront guid\'e9s \'e0 travers le langage Squeak et son environnement au moyen d'un grand nombre d'exemples et d'exercices.\
\
Ce livre est disponible sous les conditions de la licence Creative Commons Attribution-ShareAlike 3.0. Vous pouvez \'e9galement t\'e9l\'e9charger le fichier PDF gratuitement ou encore acheter une version reli\'e9e chez lulu.com. Des \'e9l\'e9ments d'informations suppl\'e9mentaires sont disponibles \'e0 partir de la page web du livre 
\f1 SqueakByExample.org/fr
\f0 , h\'e9berg\'e9e par l'Universit\'e9 de Berne en Suisse.\
\

\i Squeak par l'exemple
\i0  est support\'e9 par l'ESUG, le groupe europ\'e9en des utilisateurs de Smalltalk. Pour en apprendre plus sur Smalltalk et l'ESUG, consulter 
\f1 www.esug.org
\f0 .}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{341.16, 367.543}, {83.7604, 52.4402}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>138</integer>
			<key>ImageID</key>
			<integer>45</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>331</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{494.575, 8.99999}, {432, 648}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>94</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>11</integer>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{441, 9}, {53.5748, 648}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>11</integer>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{9, 9}, {432, 648}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>165</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>11</integer>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.175000190734863</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>55</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image54.png</string>
		<string>image53.pdf</string>
		<string>image46.jpg</string>
		<string>image45.png</string>
		<string>image44.png</string>
		<string>image42.png</string>
		<string>image37.png</string>
		<string>image35.png</string>
		<string>image30.pdf</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 2</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>NO</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>ChildOrdering</key>
		<integer>2</integer>
	</dict>
	<key>LinksVisible</key>
	<string>YES</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict>
				<key>GridSpacing</key>
				<real>14.175000190734863</real>
				<key>MajorGridSpacing</key>
				<integer>10</integer>
				<key>ShowsGrid</key>
				<string>YES</string>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>ChildOrdering</key>
				<integer>2</integer>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2008-04-25 13:44:48 +0200</string>
	<key>Modifier</key>
	<string>Serge Stinckwich</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>YES</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSJobFeatures</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpAIY=</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPagesPerSheet</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>AC9F1C67-33CC-42ED-99F2-8F6B25881C59</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{935.433, 666.142}</string>
		</array>
		<key>NSPrintAllPages</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSReversePageOrder</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerOpen</key>
		<true/>
		<key>DrawerTab</key>
		<string>Canvases</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{298, 69}, {988, 777}}</string>
		<key>ShowRuler</key>
		<true/>
		<key>VisibleRegion</key>
		<string>{{-10, 64}, {957, 617}}</string>
		<key>Zoom</key>
		<real>1</real>
	</dict>
</dict>
</plist>
